body {
    font-size: 16px;
    line-height: 22px;
    font-family: 'Raleway', sans-serif;
    font-weight:900;
    background: linear-gradient(45deg, rgb(255, 238, 113),  rgb(255, 141, 88), rgb(255, 105, 175));
    background-size: 400% 400%;
    margin: 0 10vw;
    animation: gradientBG 10s ease infinite;
}
@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
header {
    height: vw;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.hero {
    min-height: calc(100vh - 30vw);
    display: flex;
    justify-content: center;
    align-items: center;
}
.principlemenu {
    display: flex;
}
.principlemenu li {
    display: inline-block;
    margin-left: 20px;

}
.principlemenu a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5vw;
 
}
.hello h1, .hello h2 {
    color: white;
    text-align: center;
    line-height: 1;
    font-family: 'Galada', cursive;
}

.hello h1 {
    font-size: 6vw;
    margin-bottom: 40px;
}
.hello h2 {
    font-size: 4vw;
    margin-bottom: 40px;
}
.hello {
    margin: 50px 0;
}
.section1 {
    width: 100vw;
    display: grid;
    justify-items: center;
    margin-top: 80px;
}
h3 {
    color: #FFAB78;
    font-size: 4vw;
    margin-bottom: 20px;
    text-align: center;

}

h4 {
    color: rgb(36, 36, 36);
    font-size: 1.5vw;
    margin-bottom: 40px;
    text-align: center;
}
.summary {
    width: 800px;
    display: grid;
    justify-content: space-around;
}
.sum 
{   display: inline-block;
    text-align: center;
    vertical-align: top;
    margin: 0 auto 40px;
    width: 33.33%;
    padding: 0 40px;
    color:rgb(36, 36, 36);
}
.divider {
    display: grid;
    grid-template-rows: 8px;
    grid-template-columns: 48px;
    background-color: black;
}
.rrss-icons ul {
   display: grid;
   grid-template-columns: repeat(3, auto);
   grid-gap: 2vw; 
}
.rrss-icons li {
    height: 4vw;
    width: 4vw;
}

.rrss-icons li img{
    width: 100%;
}
  
.rrss-icons {
    display: flex;
    justify-content: center;
}
footer {
    height: 15vw;

}
.title {
    color: white;
    font-size: 1.5vw;
}