body {
    font-size: 16px;
    line-height: 22px;
    font-family: 'Raleway', sans-serif;
    font-weight:900;

    /* margin: 0 10vw; */
}
@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
header {
    background: linear-gradient(45deg, rgb(255, 238, 113),  rgb(255, 141, 88), rgb(255, 105, 175));
    background-size: 400% 400%;
    height: 100vh;
    animation: gradientBG 10s ease infinite;
}
 .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100vw;
    padding: 0 10vw;
    box-sizing: border-box;
}
.hello {
    display: grid;
    min-height: calc(100vh - 30vh);
    align-content: center;
}


.principlemenu li {
    display: inline-block;
    margin-left: 20px;

}
.principlemenu a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5vw;
 
}
.hello h1, .hello h2 {
    color: white;
    text-align: center;
    line-height: 1;
    font-family: 'Galada', cursive;
    margin-bottom: 40px;
}

.hello h1 {
    font-size: 6vw;
}
.hello h2 {
    font-size: 4vw;
}
.hello {
    margin: 50px 0;
}
.section1 {
    width: 100%;
    display: grid;
    justify-items: center;
    height: 100vh;
}
.section2 {
    width: 100%;
    display: grid;
    justify-items: center;
    height: 100vh;
    
}
h3 {
    color: rgb(36, 36, 36);
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;

}

h4 {
    color: rgb(36, 36, 36);
    font-size: 1rem;
    margin: 20px 0;
    text-align: center;
    line-height: 1.6;
}
.title-section1 {
    color: rgb(255, 141, 88);
    font-size: 2.5rem;
    text-align: center;
    line-height: 1;
    font-family: 'Galada', cursive;;
}
.profilephoto {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
    padding: 0;
    font-size: 0;
    object-fit: cover;
}
.summary {
    width: 800px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 30px;
}
.sum 
{   display: inline-block;
    text-align: center;
    color:rgb(36, 36, 36);
}
.divider {
    width: 50%;
    height: 4px;
    background-color:rgb(255, 141, 88);
    margin: 0 auto;
}
.rrss-icons ul {
   display: grid;
   grid-template-columns: repeat(3, auto);
   grid-gap: 2vw; 
}
.rrss-icons li {
    height: 4vw;
    width: 4vw;
}

.rrss-icons li img{
    width: 100%;
    color: rgb(255, 141, 88);
}
  
.rrss-icons {
    display: flex;
    justify-content: center;
}
footer {
    height: 15vw;

}
